<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>Servlet.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsulta</servlet-name>
        <servlet-class>Servlet.ServletConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddAdm</servlet-name>
        <servlet-class>Servlet.ServletAddAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIniciar</servlet-name>
        <servlet-class>Servlet.ServletIniciar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCerrar</servlet-name>
        <servlet-class>Servlet.ServletCerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelAc</servlet-name>
        <servlet-class>Servlet.ServletDelAc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarPass</servlet-name>
        <servlet-class>Servlet.ServletActualizarPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletKillUsu</servlet-name>
        <servlet-class>Servlet.ServletKillUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarPerfil</servlet-name>
        <servlet-class>Servlet.ServletEditarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsUsu</servlet-name>
        <servlet-class>Servlet.ServletConsUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEjecutarJuego</servlet-name>
        <servlet-class>Servlet.ServletEjecutarJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReaccionar</servlet-name>
        <servlet-class>Servlet.ServletReaccionar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarIncremento</servlet-name>
        <servlet-class>Servlet.ServletAgregarIncremento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSuficiente</servlet-name>
        <servlet-class>Servlet.ServletSuficiente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsulta</servlet-name>
        <url-pattern>/ServletConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddAdm</servlet-name>
        <url-pattern>/ServletAddAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIniciar</servlet-name>
        <url-pattern>/ServletIniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCerrar</servlet-name>
        <url-pattern>/ServletCerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelAc</servlet-name>
        <url-pattern>/ServletDelAc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarPass</servlet-name>
        <url-pattern>/ServletActualizarPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletKillUsu</servlet-name>
        <url-pattern>/ServletKillUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarPerfil</servlet-name>
        <url-pattern>/ServletEditarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsUsu</servlet-name>
        <url-pattern>/ServletConsUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEjecutarJuego</servlet-name>
        <url-pattern>/ServletEjecutarJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReaccionar</servlet-name>
        <url-pattern>/ServletReaccionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarIncremento</servlet-name>
        <url-pattern>/ServletAgregarIncremento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSuficiente</servlet-name>
        <url-pattern>/ServletSuficiente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
